{% extends 'base.html' %}
{% block content %}
    <div class="box">
        <img src="../../image/man.jfif" alt="">
        <h1>Raven leicanor</h1>
        <h5>Artiste et Conception</h5>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci et totam at sunt obcaecati
             in expedita, facere quae voluptates asperiores. Beatae facilis adipisci molestiae ullam quo 
             dolores deserunt sunt dolorum!
        </p>
        <ul>
            <li><a href="#"><img src="image/facebook.png" alt="fac"></a></li>
            <li><a href="#"><img src="image/twitter.png" alt="twi"></a></li>
            <li><a href="#"><img src="image/whatsapp.png" alt="what"></a></li>
        </ul>
    </div>
{% endblock %}