{% extends 'base.html' %}
{% block content %}
<div class="center">
    <h1>Inscription</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="txt_field">
            <input type="text" id="username" name="username" required>
            <span></span>
            <label for="username">Username</label>
        </div>
         <div class="txt_field">
            <input type="password" id="password" name="password" required>
             <span></span>
            <label for="password">Password</label>
        </div>
        <input type="submit" value="Sign up">
        <div class="signup_link">
            Already a member? <a href="{% url 'login' %}">Login</a>
        </div>
    </form>
</div>
{% endblock %}