<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La boutique de Leicanor1</title>
</head>
<body>
<h1>
    <a href="{% url 'index'%}">La boutique de Leicanor</a>
</h1>

{% if user.is_authenticated %}
{{ user.username }}
<a href="{% url 'logout' %}">Déconnexion</a>
{% else %}
<a href="{% url 'login' %}">Connexion</a>
<a href="{% url 'signup' %}">S'inscrire</a>
{% endif %}

{% if user.cart %}
<p>
    <a href="{% url 'cart' %}">Voir ton pannier ({{ user.cart.orders.count }})</a>
</p>

{% endif %}
{% block content %}

{% endblock %}
</body>
</html>